
<div *ngIf="!user"class="card text-center heading">
  <h6 class="card-header">Google Login</h6>
  <div class="card-block">
      <h4 class="card-title">Sign in with</h4>  
  </div>
 
      <button class="btn btn-danger mx-1" (click)="signinwithgoogle()">Google</button>
 
</div>

<div *ngIf="user"class="card text-center heading">
  <h6 class="card-header">Google Login</h6>
  <div class="card-block">
     <p class="card-text">Welcome {{user.name}} !</p>
     <p class="card-text">Email: {{user.email}}</p>
  </div>
  <div class="card-block">
  
  <hr/>
  <p>Click the Link Below to Upload Your Pdf</p>
   <form action="https://angularrauth.netlify.app">
  <input type="submit" class="btn btn-success" value="Upload"/>
  </form>
      <br>
  </div>
  <button class="btn btn-primary" (click)="signout()">SignOut</button>
</div>
<router-outlet></router-outlet>
